.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--espacamento);
    background: var(--cor-principal);
    color: rgb(214, 236, 23);
}

.menu{
    display:flex;
    gap: 10px;
}

.menu a{
    color:rgb(214, 236, 23);
}
